<header>
    <div class="container">
        <h5>Welcome : {{loggedUser}}</h5>
    </div>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a href="#" class="nav-link active" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" (click)="logOut()">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <!-- filter bar -->
    <div class="row" style="margin: 1rem 0 1rem 0">
        <div class="header col-7 m-1 h2">Entries</div>

    </div>
    <!-- end filter bar -->
    <!-- appointment card -->
    <div class="row">
        <div class="card m-2 shadow" style="border-radius: 10px">
            <div class="card-body">
                <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Serach text Here" />
                </div><br>
                <table class="table bg-white rounded shadow-sm  table-hover" id="entry_tbl">
                    <thead>
                    </thead>
                    <tbody>
                        <tr *ngFor="let clients of displayservice.clients | filter:filter| paginate:{itemsPerPage:5,currentPage:page}">
                            <td>{{clients.Users1}}</td>
                            <td>{{clients.Name}}</td>
                            <td>{{clients.Occupation}}</td>
                            <td>{{clients.Phone}}</td>
                            <td>{{clients.Hobby}}</td>
                         </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>